body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 22px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    height: auto;
    .logo{
        text-align: end;
        align-items: flex-end;
        justify-items: flex-end;
        margin-right:20%;
    }

    .links {
        width: 100%;
        margin: 35.74px 0px;
        text-align: start;
        a {
            color: #f8d409;
            outline: none;
            text-decoration: none;
            font-size: 22px;
            padding: 10px;
            font-weight: lighter;
            margin: 5px;
        }
        a:hover {
            background-color: white;
            color: #312f2f;
        }
        .contact {
            background: white;
            border-radius: 10px;
            color: #312f2f;
        }
        .contact:hover {
            background: #312f2f;
            color: white;
        }
    }
}


.cont1 {
    background-image: url('/assets/pexels-pixabay-355948\(2\).jpg');
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height: 900px;
    min-width: 100%;
    .info {
        position:absolute;
        top:50%;
        width:100%;
        text-align:center;
        color:#f8d409;
        font-size:27px;
        background: rgba(0, 0, 0, .4);
    }
}

.cards {
    color:#111;
    min-height: 400px;
    text-align: center;
    h3 {
        margin-top: 0;
        color: rgb(28, 78, 28);
        background-color: #f4f4f4;
        padding: 20px;
        font-size: 23px;
    }
    h1 {
        text-align: center;
        width: 10%;
        border-bottom: 5px solid rgb(28, 78, 28);
        margin-left: 46%;
        margin-bottom: 10px;
        font-weight: lighter;
    }
    .grid1 {
        display: grid;
        text-decoration: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 23px;
    }

    .card {
        border: 1px solid #111;
        border-radius: 10px;
        margin: 10px;
        list-style-type: none;
        min-height: 400px;
        p {
            margin-left: 5px;
            margin-right: 5px;
        }
        .btn {
            min-height: 50px;
            color: white;
            font-size: 18px;
            background-color: rgb(58, 177, 224);
            min-width: 150px;
        }
    }
}

.cards2 {
    color:#111;
    min-height: 400px;
    text-align: center;
    h3 {
        margin-top: 0;
        color: rgb(28, 78, 28);
        background-color: #f4f4f4;
        padding: 20px;
        font-size: 23px;
    }
    h1 {
        text-align: center;
        width: 10%;
        border-bottom: 5px solid rgb(28, 78, 28);
        margin-left: 46%;
        margin-bottom: 10px;
        font-weight: lighter;
    }
    .grid2 {
        display: grid;
        text-decoration: none;
        grid-template-columns: 1fr 1fr;
        font-size: 23px;
    }

    .card2 {
        border: 1px solid #111;
        border-radius: 10px;
        margin: 10px;
        list-style-type: none;
        min-height: 400px;
        ul {
            li {
            padding: 5px;
            }
        }
    }
}

.cont2 {
    background-image: url('/assets/pexels-pixabay-159711.jpg');
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height: 500px;
    
    width:100%;
}

.courses {
    background-color:#f4f4f4;
    color:#111;
    min-height: 400px;
}

.cont3 {
    background-image: url('/assets/pexels-cottonbro-4778670.jpg');
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height: 500px;
    opacity: .7;
}

.faculty {
    background-color:#f4f4f4;
    color:#111;
    min-height: 400px;
}

.about {
    box-sizing: border-box;
    font-size: 23px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    color:white;
    padding: 6%;
    width: 100%;
    text-align: center;
    img {
        width: 300px;
        height: 200px;
    }
}

footer {
    text-align: end;
    background-color: #111;
    padding: 10px;
    color: white;
    font-size: 23px;
    p {
        border-left: 1px solid white;
        margin-left: 90%;
        margin-right: 1%;
    }
}
.contactel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
        
    align-items: center;
    justify-items: center;
    
}


@media (max-width: 768px) {
    nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        .logo {
            margin: 0px;
            
            text-align: center;
            align-items: center;
            justify-items: center;
            width: auto;
        }
        .links {
            margin: 0px;
            
            text-align: center;
            align-items: center;
            justify-items: center;
            width: auto;
            a {
               width: auto;
            }
            .contact {
                background: none;
                color: white;
                width: auto;
            }
        }
    }
    
    .cards {
        .grid1 {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    footer {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        p {
            margin: 0px 0px 0px 0px;
        }
    }

    .cards2 {
        .grid2 {
            grid-template-columns: 1fr;
        }
    }
}